<div>
  <footer class="oms-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-3 col-md-5 pr-0 d-flex">
          <span class="ml-auto">&copy; 2020, Order Management System</span>
        </div>
        <div class="col-lg-1 col-md-2 pr-0 d-flex">
          <a href="https://www.publicissapient.com/" class="oms-links ml-auto">
            Contact Us
          </a>
        </div>
        <div class="col-lg-1 col-md-3 pr-0 d-flex">
          <a href="https://www.publicissapient.com/" class="oms-links ml-auto">
            Feedback?
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
